body {
  width: 752px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 752px;
  height: 237px;
  background: url("./images/Прямоугольник_1.png");
}

.logo_header {
  float: left;
  width: 144px;
  height: 144px;
  margin: 46px 58px 46px 36px;
  border-radius: 50%;
  background: url("./images/Эллипс_1.png");
}
.title {
  float: left;
  width: 134px;
  height: 131px;
  margin-top: 46px;
  margin-bottom: 53px;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
}
.navbar {
  float: left;
  width: 87px;
  height: 71px;
  margin-top: 83px;
  margin-left: 248px;
}
.navbar img {
  width: 87px;
  height: 15px;
  margin-top: 13px;
}
.clear {
  clear: left;
}

.main {
  width: 752px;
  background-color: #ffffff;
}
.room {
  /* width: 255;
  height: 276; */
  background: url("./images/room_2.png") 100% 100% no-repeat;
}
.footer {
  display: inline-block;
  width: 752px;
  height: 156;
  background-color: rgba(136, 136, 136, 1);
}
.logo_footer {
  background-color: rgba(255, 255, 255, 1);
}
