body {
  width: 752px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 752px;
  height: 235px;
  background: url("./images/Прямоугольник_1.png");
}

.logo_header {
  float: left;
  width: 144px;
  height: 144px;
  margin: 46px 58px 46px 36px;
  background: url("./images/Эллипс_1.png");
}
.title {
  float: left;
  width: 134px;
  height: 131px;
  margin-top: 46px;
  margin-bottom: 53px;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
}
.navbar {
  float: left;
  width: 87px;
  height: 71px;
  margin-top: 73px;
  margin-left: 248px;
}
.navbar img {
  width: 87px;
  height: 15px;
  margin-top: 10px;
}
.clear {
  clear: left;
}

.main {
  width: 752px;
  background-color: #ffffff;
}
.room {
  width: 752px;
  height: 470px;
  background: url("./images/room_2.png");
}
.about {
  width: 752px;
  height: 1018px;
}
.about img {
  border-radius: 50%;
}
.footer {
  width: 752px;
  height: 156px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  background: url("./images/Прямоугольник_5.png");
}
.logo_footer {
  float: left;
  width: 99px;
  height: 99px;
  margin: 28px 0 28px 45px;
  background: url("./images/Эллипс_2.png");
}
.phone {
  float: left;
  width: 136px;
  height: 15px;
  white-space: nowrap;
  margin: 38px 0 0 427px;
}
.address {
  float: left;
  width: 199px;
  height: 17px;
  margin: 31px 0 35px 182px;
}
.email {
  float: left;
  width: 144px;
  height: 17px;
  margin: 31px 0 35px 38px; /*436*/ /*31px 45px 39px 427px*/
}
