html {
  background-color: #d0d3d5;
}
body {
  width: 751px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  width: 751px;
  height: 235px;
  background: url("./images/Прямоугольник_1.png");
}

.logo_header {
  float: left;
  width: 144px;
  height: 144px;
  margin: 46px 58px 46px 36px;
  background: url("./images/Эллипс_1.png");
}
.title {
  float: left;
  width: 134px;
  height: 131px;
  margin-top: 46px;
  margin-bottom: 53px;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
}
.navbar {
  float: left;
  width: 87px;
  height: 71px;
  margin-top: 73px;
  margin-left: 248px;
}
.navbar img {
  width: 87px;
  height: 15px;
  margin-top: 10px;
}
.clear {
  clear: left;
}

/* main */
.main {
  width: 750px;
  background-color: #ffffff;
}

.room {
  width: 750px;
  height: 470px;
  background: url("./images/room_2.png");
}
.shift {
  width: 742px;
  height: 440px;
  background: url("./images/Прямоугольник_3.png");
  position: relative;
  left: 10px;
  top: -470px;
}
.btn {
  width: 344px;
  height: 77px;
  border: none;
  padding: auto;
  font-size: 24px;
  color: #ffffff;
  background: url("./images/Прямоугольник_4.png");
}
#btn_1 {
  margin: 343px 200px 51.5px 210px;
}

.about {
  /* width: 752px; */
  width: 712px;
  color: #000000;
  margin-left: 38.5px;
}
.data img {
  width: 255px;
  height: 276px;
  float: left;
  border-radius: 50%;
  margin: 77px 0 77px;
}
h2 {
  font-size: 36px;
  font-weight: normal;
}
.data h2 {
  width: 310px;
  height: 27px;
  float: left;
  margin: 150px 0 50px 100px;
}
p {
  font-size: 24px;
}
.data p {
  width: 245px;
  height: 50px;
  float: left;
  margin-top: 0;
  margin-left: 100px;
}

.work_experience {
  width: 590px;
  height: 166px;
}
.reasons h2 {
  width: 545px;
  height: 32px;
}
.reasons p {
  width: 256px;
  height: 190px;
}
#btn_2 {
  margin: 13px 204px 51.5px 165.5px;
}

/* footer */
.footer {
  width: 751px;
  height: 154px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  background: url("./images/Прямоугольник_5.png");
}
.logo_footer {
  float: left;
  width: 99px;
  height: 99px;
  margin: 28px 0 28px 45px;
  background: url("./images/Эллипс_2.png");
}
.phone {
  float: left;
  width: 136px;
  height: 15px;
  white-space: nowrap;
  margin: 38px 0 0 427px;
}
.address {
  float: left;
  width: 199px;
  height: 17px;
  margin: 31px 0 35px 182px;
}
.email {
  float: left;
  width: 144px;
  height: 17px;
  margin: 31px 0 35px 38px;
}
