html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: rgb(221, 219, 219);
  font-family: Roboto;
}
.container {
  width: 90rem;
  margin: 0 auto;
  background-color: white;
}
.get-started {
  width: 90rem;
  height: 27.94rem;
  padding: 5.6875rem 22.75rem 10.125rem;
  color: #ffffff;
  background-color: #5e81fe;
  box-sizing: border-box;
}
.get-started-text {
  width: 44.5rem;
  height: 12.125rem;
  display: flex;
  padding: 0;
  flex-direction: column;
}
.get-started-plan {
  width: 5.625rem;
  height: 0.75rem;
  margin-left: 19.3125rem;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 0.7325rem;
}
.get-started-title {
  width: 22.375rem;
  height: 3.75rem;
  margin-top: 1.74rem;
  margin-left: 11.0625rem;
  font-size: 3rem;
  font-weight: lighter;
  line-height: 3.75rem;
  font-family: Quicksand;
}
.get-started-description {
  width: 44.5rem;
  height: 4.875rem;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.791rem;
}
.get-started-title span {
  font-weight: bold;
}
.get-started-buttons {
  width: 17.75rem;
  height: 2.6875rem;
  margin-top: 1rem;
  margin-left: 13.375rem;
  padding: 0.8125rem 1.0625rem;
  display: flex;
  flex-direction: row;
}
.get-started-button-1 {
  width: 8.13rem;
  border-radius: 5% 0 0 5%;
  color: #565f82;
  background-color: #fcfdff;
  border: none;
  cursor: pointer;
}
.get-started-button-2 {
  border-radius: 0 5% 5% 0;
  color: #c7d3ff;
  background-color: transparent;
  border: 1px solid #c7d3ff;
  border-left: none;
  cursor: pointer;
}
.newsletter {
  width: 90rem;
  height: 20.75rem;
  border-bottom: 1px solid #c6c6c6;
}
.newsletter-container {
  width: 55.44rem;
  height: 5.94rem;
  margin: 7.375rem 17.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.newsletter-sign-up {
  line-height: 1.67rem;
}
.newsletter-header {
  font-size: 1.125rem;
  color: #3d4f9f;
  margin-bottom: 1.5rem;
  font-family: Quicksand;
}
.newsletter-description {
  font-size: 0.875rem;
  line-height: 1.67rem;
  color: #8d96bd;
}
.newsletter-btn-email-address {
  width: 17.44rem;
  height: 3.69rem;
  margin-left: 9rem;
  padding-left: 1.5rem;
  font-size: 0.8125rem;
  text-align: left;
  border-radius: 5%;
  color: #7a85ad;
  background-color: #efeff7;
  border: none;
  cursor: pointer;
}
.newsletter-btn-save-me {
  width: 11.5rem;
  height: 3.69rem;
  font-size: 0.8125rem;
  border-radius: 5%;
  color: white;
  background-color: #4d6ce1;
  border: none;
  cursor: pointer;
}
footer {
  width: 90rem;
  height: 17.94rem;
  padding: 5.8rem 7.3rem;
  font-size: 0.75rem;
  font-family: Quicksand;
  font-weight: bold;
  color: #aeb8d0;
  background-color: #ffffff;
  box-sizing: border-box;
}
.footer-container {
  width: 75.375rem;
  height: 6.313rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.footer-row-1 {
  height: 2.69rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-circle {
  width: 1.625rem;
  height: 1.625rem;
  margin-right: 4.565rem;
  border-radius: 50%;
  background-color: #5e81fe;
}
.footer-menu {
  width: 40rem;
  height: 1.625rem;
  margin-right: 10.57rem;
  padding-top: 0.7rem;
  text-shadow: 0.3px 0.3px 0.3px;
}
.footer-menu a {
  margin-left: 1rem;
  text-decoration: none;
  color: #aeb8d0;
}
.social-icon {
  width: 4rem;
  height: 4rem;
  float: left;
  cursor: pointer;
  background: url("./images/sprite-1.jpg");
}
.social-icon-facebook {
  /* background-position: 0px -3px; */
  background-position-x: 0px;
  background-position-y: -3px;
  transform: scale(0.4);
}
.social-icon-telegram {
  /* background-position: -211px -216px; */
  background-position-x: -211px;
  background-position-y: -216px;
  transform: scale(0.35);
}
.social-icon-twitter {
  /* background-position: -110px -3px; */
  background-position-x: -110px;
  background-position-y: -3px;
  transform: scale(0.5);
}
.social-icon-mail {
  /* background-position: -110px -72px; */
  background-position-x: -110px;
  background-position-y: -72px;
  transform: scale(0.5);
}
.social-icon:hover {
  width: 4rem;
  height: 4rem;
  float: left;
  cursor: pointer;
  background: url("./images/sprite-2.png");
}
.social-icon-facebook:hover {
  /* background-position: -44px -177px; */
  background-position-x: -44px;
  background-position-y: -177px;
  transform: scale(0.4);
}
.social-icon-telegram:hover {
  /* background-position: -600px -179px; */
  background-position-x: -600px;
  background-position-y: -179px;
  transform: scale(0.35);
}
.social-icon-twitter:hover {
  /* background-position: -321px -315px; */
  background-position-x: -321px;
  background-position-y: -315px;
  transform: scale(0.45);
}
.social-icon-mail:hover {
  /* background-position: -1302px -315px; */
  background-position-x: -1302px;
  background-position-y: -315px;
  transform: scale(0.5);
}
.footer-btn-get-started {
  width: 7.06rem;
  height: 2.69rem;
  margin-left: 2rem;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #100261;
  background-color: #d2e1ff;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}
.footer-row-2 {
  width: 13.125;
  height: 1.875rem;
  margin-top: 1.5rem;
  margin-left: 7rem;
  opacity: 0.8;
}
