html {
  box-sizing: border-box;
  background-color: #d0d3d5;
}
body {
  width: 1302px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  display: block;
  width: 1302px;
  height: 72px;
  color: #f5b765;
  background-color: rgba(140, 10, 13, 1);
  opacity: 1;
}
.logo {
  display: inline-block;
  width: 177px;
  height: 41px;
  margin-top: 15px;
  margin-left: 68px;
}
.menu {
  display: inline-block;
  width: 698px;
  height: 11px;
  margin-top: 39px;
  margin-bottom: 22px;
  margin-left: 125px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #f5b765;
}
.menu a {
  margin-left: 20px;
}
.english {
  display: inline-block;
  margin-left: 90px;
  font-size: 18px;
}
.english img {
  width: 26px;
  height: 18px;
}
.english span {
  width: 38px;
  height: 13px;
  margin-left: 10px;
}
/* main */
.content {
  display: block;
  width: 1300px;
  height: 687px;
  background-image: url(./images/Слой_15.png);
}
.content img {
  width: 1302px;
  height: 688px;
}
/* footer */
.footer {
  display: block;
  width: 1302px;
  height: 72px;
  font-size: 14px;
  color: #f5b765;
  background-color: rgba(140, 10, 13, 1);
  opacity: 1;
}
.website-link {
  display: inline-block;
  width: 192px;
  height: 14px;
  margin: 37px 0 21px 68px;
}
.address {
  display: inline-block;
  width: 148px;
  height: 38px;
  margin: 13px 0 21px 102px;
}
.phone {
  display: inline-block;
  width: 144px;
  height: 37px;
  margin-left: 149px;
}
.email {
  display: inline-block;
  width: 138px;
  height: 33px;
  margin-left: 155px;
}
.media-facebook {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 69px;
}
.media-contact {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}
