html {
  box-sizing: border-box;
  background-color: #d0d3d5;
}
body {
  width: 1400px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}

/* HEADER  ----------------------------------------------- */
.header {
  width: 1402px;
  height: 157px;
  margin-top: 2px;
  margin-left: -1px;
  font-size: 13px;
}
/* ----------------- header-1  ------------------------------ */
.header-1 {
  width: 1402px;
  height: 45px;

  color: #ffffff;
  background: url("./images/Rectangle_1.png");
}
.language {
  width: 110px;
  display: inline-block;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 189px;
  color: #b8eefc;
}
.currency {
  width: 89px;
  display: inline-block;
  color: #b8eefc;
  margin-top: 13px;
  margin-left: 30px;
}
span {
  color: #ffffff;
}
.arrow-1 {
  width: 10px;
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
}
i {
  border: solid rgb(255, 255, 255);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-down-up {
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 16px;
  margin-left: 0;
}
.arrow-down-up:hover {
  display: inline-block;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow-2 {
  width: 10px;
  display: inline-block;
  margin-left: 0;
}

.top-menu {
  display: inline-block;
  width: 357px;
  height: 13px;
  margin-top: 13px;
  margin-left: 421px;
  font-size: 13px;
}
.top-menu a {
  color: rgb(255, 255, 255);
}
.top-menu a::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}
.last::after {
  content: "";
  display: none;
}
/* ----------------- header-2  ------------------------------ */
.header-2 {
  width: 1400px;
  height: 112px;
  display: inline-block;
  position: relative;
  color: #656565;
  font-weight: bold;
  text-transform: uppercase;
}
.logo {
  margin-top: 30px;
  margin-left: 191px;
  display: inline-block;
  font-size: 36px;
}
.menu {
  width: 390px;
  height: 14px;
  margin-top: 46px;
  margin-left: 47px;
  display: inline-block;
  position: absolute;
}
.menu a {
  margin-right: 10px;
  font-size: 14px;
  color: #656565;
}
.search {
  width: 177px;
  height: 32px;
  margin-top: 39px;
  margin-left: 522px;
  display: inline-block;
  position: absolute;
  background: url("./images/Rectangle_2.png");
}
.search p {
  width: 48px;
  height: 10px;
  margin-top: 7px;
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
}
.search img {
  margin-left: 90px;
  display: inline-block;
  vertical-align: middle;
}
.cart {
  width: 200px;
  height: 38px;
  margin-top: 35px;
  margin-left: 705px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
}
.cart img {
  margin-left: 5px;
  bottom: 5px;
  display: inline-block;
}
.discount {
  position: absolute;
  top: 9px;
  left: 8px;
}
.basket {
  position: absolute;
  top: 9px;
  left: 54px;
}
.cart b {
  width: 70px;
  height: 14px;
  margin-top: -34px;
  vertical-align: middle;
  display: inline-block;
}
/* MAIN  ------------------------------------------------- */
/* ----------------- banner  ------------------------------ */
.banner {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.arrow-left {
  top: 215px;
  left: 122px;
  position: absolute;
}
.arrow-right {
  top: 215px;
  left: 1208px;
  position: absolute;
  transform: rotate(180deg);
}
.banner-title {
  top: 199px;
  left: 238px;
  padding: 10px 40px 10px 20px;
  font-weight: lighter;
  background-color: #746c64;
  position: absolute;
}
.banner-subtitle {
  top: 256px;
  left: 238px;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: #746c64;
  position: absolute;
}
/*-- ----------------- a r t i c l e  ------------------------------ --*/
article {
  width: 1400px;
  height: 2005px;
  overflow: hidden;
}
article header {
  margin-top: 35px;
  font-size: 24px;
  color: #635f57;
  text-transform: uppercase;
}
.product {
  width: 218px;
  height: 300px;
  margin-top: 15px;
  margin-right: 20px;
  padding: 9px;
  float: left;
  position: relative;
  color: #868487;
  border: 1px solid #eff1f0;
  box-shadow: 1px 1px 1px 1px #eff1f0, -1px -1px 1px 1px #eff1f0;
}
.new::before {
  content: "";
  width: 95px;
  height: 92px;
  top: -6px;
  right: -4px;
  position: absolute;
  background-image: url("./images/new.png");
}
.sale::before {
  content: "";
  width: 95px;
  height: 92px;
  top: -6px;
  left: -5px;
  position: absolute;
  background-image: url("./images/sale.png");
  z-index: 2;
}
.product-title {
  margin-top: 18px;
}
.cost {
  margin-top: 6px;
  color: #7db122;
}
.cost span {
  font-size: 13px;
  text-decoration: line-through;
  color: #868487;
}
.icon-basket {
  position: absolute;
  left: 177px;
  bottom: 20px;
}
/*-- ----------------- section-aside  ------------------------------ --*/
aside {
  width: 408px;
  height: 880px;
  float: right;
}
aside::after {
  content: "";
  clear: both;
  display: table;
}
.featured {
  width: 233px;
  height: 500px;
  margin-top: 35px;
  border: 1px solid #eff1f0;
  box-shadow: 1px 2px 1px 1px #eff1f0, -1px -2px 1px 1px #eff1f0;
  position: relative;
}
.blue-line {
  width: 233px;
  height: 4px;
  background-color: #4cb1ca;
}
.featured-header {
  margin-top: 20px;
  text-align: center;
}
.featured-banner {
  width: 217px;
  margin: 8px;
  margin-bottom: 10px;
}
.featured-button-blue {
  top: 395px;
  right: 47px;
  position: absolute;
}
.blue-button-text {
  bottom: 73px;
  right: 81px;
  position: absolute;
  font-size: 14px;
  color: #ffffff;
}
.featured-foo {
  width: 233px;
  height: 40px;
  border-top: 1px solid #eff1f0;
  box-shadow: -1px -2px 1px 1px #eff1f0;
}
.dot-1 {
  margin-top: 10px;
  margin-left: 90px;
}
.dot-2 {
  margin-left: 7px;
}
.dot-3 {
  margin-left: 7px;
}
.newsletter-sign-up {
  width: 233px;
  height: 300px;
  margin-top: 35px;
  text-align: center;
  color: #868487;
  border: 1px solid #eff1f0;
  box-shadow: 1px 2px 1px 1px #eff1f0, -1px -2px 1px 1px #eff1f0;
}
.newsletter-line {
  width: 100px;
  height: 20px;
  margin-top: 15px;
  margin-left: 66px;
  border-top: 1px solid #9a9a9a;
}
.green-button {
  margin-top: 20px;
  position: relative;
}
.green-button-text {
  bottom: 20px;
  right: 86px;
  position: absolute;
  font-size: 14px;
  color: #ffffff;
}
/*-- ----------------- section-content  ------------------------------ --*/
section {
  margin-left: 185px;
}
/*-- ----------------- Featured product  ------------------------------ --*/
.featured-product {
  width: 776px;
  height: 1050px;
  margin-top: 35px;
}
.featured-product::after {
  content: "";
  clear: both;
  display: table;
}
/*-- ----------------- Staff pick  ------------------------------ --*/
.staff-pick {
  width: 776px;
  height: 380px;
}
.staff-pick::after {
  content: "";
  clear: both;
  display: table;
}
/*-- ----------------- New Products  ------------------------------ --*/
.new-products {
  width: 776px;
  height: 420px;
  margin-right: 446px;
  margin-bottom: 54px;
}
.new-products ::after {
  content: "";
  clear: both;
  display: table;
}
/* FOOTER  ----------------------------------------------- */
.footer {
  width: 1400px;
  height: 506px;
}
/* ----------------- FOOTER-1  ------------------------------ */
.footer-1 {
  height: 106px;
  text-transform: uppercase;
  color: white;
  background: url("./images/Layer_32.png");
  overflow: hidden;
}
.footer-1-position {
  float: left;
  margin-top: 20px;
  margin-left: 186px;
}
.footer-1-text {
  float: right;
  margin-top: 24px;
  margin-left: 32px;
}
.car {
  margin-bottom: 20px;
  margin-left: -57px;
}
.phone {
  margin-bottom: 20px;
  margin-left: -52px;
}
.footer-1:after {
  display: block;
  content: " ";
  clear: both;
}
/* ----------------- FOOTER-2  ------------------------------ */
.footer-2 {
  height: 331px;
  font-size: 21px;
  font-weight: lighter;
  color: #ffffff;
  background: url("./images/footer.png");
}
.footer-2-header {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  /* color: #ffffff; */
  box-sizing: border-box;
}
/* ----------------- facebook  ------------------------------ */
.facebook {
  width: 236px;
  height: 231px;
  margin-top: 47px;
  margin-left: 186px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.members {
  margin-top: 20px;
  font-size: 13px;
}
.like {
  margin-top: 6px;
}
.line {
  width: 236px;
  height: 120px;
  margin-top: 3px;
  border-top: 1px solid #59b3ca;
  border-bottom: 1px solid #59b3ca;
}
.gallery {
  width: 236px;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  overflow: hidden;
}
.gallery-position-up {
  float: left;
  margin: 0 9px 7px 0;
}
.gallery-position-down {
  float: left;
  margin: 0 9px 0 0;
}
.gallery::after {
  display: block;
  content: " ";
  clear: both;
}
.facebook-tetx {
  font-size: 13px;
}
/* ----------------- from-twitter  ------------------------------ */
.from-twitter {
  width: 223px;
  height: 220px;
  margin-top: 47px;
  margin-left: 48px;
  display: inline-block;
  vertical-align: top;
}
.twitter-block {
  width: 223px;
  height: 70px;
  margin-top: 20px;
  float: left;
  position: relative;
}
.twitter-img {
  margin-top: 20px;
  position: absolute;
  top: -7px;
  left: 11px;
}
.twitter-text {
  width: 170px;
  margin-top: -63px;
  float: right;
  font-size: 13px;
}
.twitter-text span {
  opacity: 0.5;
}
.clear {
  clear: left;
}
/* ----------------- information  ------------------------------ */
.information {
  width: 186px;
  height: 182px;
  margin-top: 47px;
  margin-left: 73px;
  display: inline-block;
  vertical-align: top;
}
.info {
  margin-top: 26px;
}
.arrow-info {
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: 16px;
  margin-left: 0;
}
.text-info {
  display: inline-block;
  font-size: 13px;
}
/* ----------------- contact-us  ------------------------------ */
.contact-us {
  width: 199px;
  height: 227px;
  margin-top: 47px;
  margin-left: 60px;
  display: inline-block;
  vertical-align: top;
}
.contact-line {
  width: 199px;
  height: 129px;
  margin-top: 20px;
  border-bottom: 1px solid #59b3ca;
}
.address {
  width: 116px;
  height: 108px;
  margin-top: 27px;
  font-size: 13px;
  line-height: 1.2rem;
}
.icons-block {
  width: 199px;
  height: 39px;
  margin-top: 10px;
}
/* ----------------- FOOTER-3 ------------------------------ */
.footer-3 {
  height: 67px;
  font-size: 13px;
  background: url("./images/Rectangle_8.png");
  overflow: hidden;
}
.copyright {
  width: 340px;
  margin-top: 27px;
  margin-left: 191px;
  float: left;
  color: #b8eefc;
}
.footer-menu {
  margin-top: 27px;
  margin-left: 242px;
  float: left;
}
.footer-menu a {
  color: #b8eefc;
}
.footer-menu a::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}
.footer-3:after {
  display: block;
  content: " ";
  clear: both;
}
