@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
html,
body {
  font-size: 1.125rem;
  background-size: 100% 100%;
  height: 100%;
  font-family: Poppins;
}
.header-menu a {
  text-decoration: none;
  color: #828282;
}
.header-menu a:active {
  color: black;
}
.header-menu a:hover {
  color: black;
}
.profile {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.36rem;
}
.dropdown {
  display: none;
}
.dropdown .dropdown-language {
  display: none;
  padding-bottom: 8rem;
  padding-left: 3rem;
  transform: rotate(90deg);
}
.language {
  padding-top: 4rem;
  transform: rotate(-90deg);
}
.btn {
  color: #828282;
  background-color: white;
  border: none;
}
.btn .active {
  color: black;
}
.banner {
  margin-bottom: 6rem;
}
.screen-1 {
  background-color: #f6f6f6;
  color: #070707;
}
.about {
  padding: 7rem;
  line-height: 100%;
}
.skills {
  padding: 7rem;
}
.skills-gallery {
  font-size: 0.875rem;
  color: #828282;
}
.screen-3 {
  background-color: #f6f6f6;
  padding: 7rem;
  line-height: 100%;
}
.screen-3 h2 {
  margin-bottom: 4rem;
}
.screen-3 p {
  margin-bottom: 6rem;
}
.portfolio img {
  margin-bottom: 6rem;
}
.contacts {
  padding: 7rem;
  padding-bottom: 6rem;
}
.contacts button {
  width: 11.375rem;
  height: 2.625rem;
  color: #ffffff;
  background: url("./images/chip-bg.png");
  background-repeat: no-repeat;
  border: none;
}
.footer-icons {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.contacts img {
  width: 2.5rem;
  height: 2.5rem;
}
.like-me {
  font-size: 0.875rem;
  color: #828282;
}
@media screen and (max-width: 576px) {
  .header-menu {
    display: none;
  }
  .language {
    display: none;
  }
  .header .container {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    display: flex;
  }
}
