@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
html,
body {
  font-size: 16px;
  background-size: 100% 100%;
  height: 100%;
  font-family: Poppins;
}
.header-menu {
  padding-top: 1rem;
}
.header-menu a {
  text-decoration: none;
  color: #828282;
}
.header-menu a:active {
  color: black;
}
.header-menu a:hover {
  color: black;
}
.profile {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1rem;
}
.language {
  padding-top: 3rem;
  transform: rotate(-90deg);
}
.banner {
  width: 100%;
}
